<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="binding_SOAP12">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP121">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding1">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP122">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding2">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP123">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding3">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP124">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding4">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP125">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding5">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP126">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding6">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP127">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding7">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP128">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding8">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP129">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding9">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding10">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP1210">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP1211">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding11">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP1212">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding12">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP1213">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding13">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP1214">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding14">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP1215">
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding15">
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding_SOAP1216">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://0024747210-one-off.sap.com/Y6VORP7OY_':    -->
                    <!--    <wsdl:binding name='binding_SOAP12'>    -->
                    <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
                    <mtomMessageEncoding />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
                <binding name="binding16">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://0024747210-one-off.sap.com/Y6VORP7OY_':    -->
                    <!--    <wsdl:binding name='binding'>    -->
                    <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport authenticationScheme="Basic" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://my342476.sapbydesign.com/sap/bc/srt/scs/sap/querysupplierin1?sap-vhost=my342476.sapbydesign.com"
                binding="customBinding" bindingConfiguration="binding_SOAP1215"
                contract="SupplierQueryService.QuerySupplierIn" name="binding_SOAP12" />
            <endpoint address="https://my342476.sapbydesign.com/sap/bc/srt/scs/sap/querysupplierin1?sap-vhost=my342476.sapbydesign.com"
                binding="customBinding" bindingConfiguration="binding15" contract="SupplierQueryService.QuerySupplierIn"
                name="binding" />
            <endpoint address="https://my342476.sapbydesign.com/sap/bc/srt/scs/sap/managebusinesspartnerin3?sap-vhost=my342476.sapbydesign.com"
                binding="customBinding" bindingConfiguration="binding_SOAP129"
                contract="BusinessPartnerManageService.ManageBusinessPartnerIn"
                name="binding_SOAP121" />
            <endpoint address="https://my342476.sapbydesign.com/sap/bc/srt/scs/sap/managebusinesspartnerin3?sap-vhost=my342476.sapbydesign.com"
                binding="customBinding" bindingConfiguration="binding9" contract="BusinessPartnerManageService.ManageBusinessPartnerIn"
                name="binding1" />
            <endpoint address="https://my338143.sapbydesign.com/sap/bc/srt/scs/sap/querybusinesspartnerin1?sap-vhost=my338143.sapbydesign.com"
                binding="customBinding" bindingConfiguration="binding_SOAP1210"
                contract="BusinessPartnerQueryService.QueryBusinessPartnerIn"
                name="binding_SOAP122" />
            <endpoint address="https://my338143.sapbydesign.com/sap/bc/srt/scs/sap/querybusinesspartnerin1?sap-vhost=my338143.sapbydesign.com"
                binding="customBinding" bindingConfiguration="binding10" contract="BusinessPartnerQueryService.QueryBusinessPartnerIn"
                name="binding2" />
            <endpoint address="https://my338143.sapbydesign.com/sap/bc/srt/scs/sap/yy6vorp7oy_materialinspection?sap-vhost=my338143.sapbydesign.com"
                binding="customBinding" bindingConfiguration="binding_SOAP1216"
                contract="QcInspectionSapService.Y6VORP7OY_MaterialInspection"
                name="binding_SOAP123" />
            <endpoint address="https://my338143.sapbydesign.com/sap/bc/srt/scs/sap/yy6vorp7oy_materialinspection?sap-vhost=my338143.sapbydesign.com"
                binding="customBinding" bindingConfiguration="binding16" contract="QcInspectionSapService.Y6VORP7OY_MaterialInspection"
                name="binding3" />
        </client>
    </system.serviceModel>
</configuration>